<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <!-- Include site description -->
        <h2>Need some help?</h2>
        <p>{{ site.description | escape }}</p>
        <!-- Include feed -->
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
        <p>
          <a rel="author" href="{{ "/" | relative_url }}">
            <img alt="msc365 logo" src="https://msc365.eu/assets/img/mscollab365-aad-banner-300.png" width="150"/>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}" onclick="this.href=this.href.replace('@@','.')">Send email</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>

      <div class="footer-col">
        <!-- Include categories and tags -->
        <p>{% include categorycloud.html %}</p>
        <p>{% include tagcloud.html %}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
