// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-header {
    line-height: 0; 
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// .masthead

.wrapper-masthead {
    margin-bottom: 16px;
  }

.masthead {
    padding: 8px 0;

    @include mobile {
        text-align: center;
    }
}

.site-logo {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 16px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img {
        border-radius: 5px;
    }
}

.site-info {
    float: left;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin: 0;
    cursor: pointer;
}

.site-underline {
    margin: -5px 0 0 0;
    font-size: 16px;

    @include mobile {
        margin: 3px 0;
    }
}