// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

%clearfix:before,
%clearfix:after {
    content: " ";
    display: table;
}

%clearfix:after {
    clear: both;
}

.site-header {
    border-top: 5px solid $border-color-01;
    // border-bottom: 1px solid $border-color-01;
    // min-height: $spacing-unit * 1.865;
    line-height: $base-line-height * $base-font-size * 2;
  
    // Positioning context for the mobile navigation icon
    // position: relative;
}

.site-logo {
    float: left;
    width: 64px;
    height: 64px;
    margin-top: 8x;
    margin-right: 16px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img {
        border-radius: 5px;
    }
}

.site-info {
    float: left;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin: 0;
    cursor: pointer;
}

.site-underline {
     @include mobile {
        margin: 3px 0;
    }
}
p.site-underline {
    padding: 8px 0;
}